/* CSS declarations go here */
a {
  color: #303036 !important;
}

.post-style:hover #title {
    color: #FC5130 !important;
}

.post-style {
  background-color: #F3C969;
/*  background-clip:content-box; */
}